/* Resourcen laden */

@font-face {
    font-family: Ailerons;
    src: ./fonts/ailerons-typeface.otf;
}

/* Basis Styles */

body{
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    background: #e2e8e9;
    color: #032575;
    font-size: 1.1em;
    line-height: 1.5;
    text-align: center;
}

.Beschreibung{
    justify-self: center;
    padding: 1.5em;
    background:#e2e8e9;
    border-color: #111111;
 
    align: left;
}
.Beschreibung p{
    margin:0;
    padding: 1em;
    text-align: left;
    background: #171717;
    color: #e2e8e9;
}

img{
    display: block;
    width: 100%;
    height: auto;
}

h1, h3{
    margin: 0;
    padding: 1em 0;
}

p{
    margin:0;
    padding: 1em 0;
}

.btn{
    display: inline-block;
    background: #333;
    color: #fff;
    text-decoration: none;
    padding: 1em 2em;
    border: 1px solid #666;
    margin: 0;
}

.btn:hover{
    background: #fff;
    color: #333;
}

/* Header Kopfzeile */

.Kopfzeile{
    min-height: 450px;
    color: #fff;
    text-align: center;
    font-size: 20px;
    opacity: 10%;
}

.h1{
    padding-top: 100px;
    color: #fff;
    text-align: center;
    font-family: Ailerons;
    font-size: 72px;
}

.Kopfzeile .inhalt-wrap,
.bereich1 .inhalt-wrap{
    padding: 0 1.5em;
}

/* Bereich1 */

.bereich1{
    background: #333;
    color: #fff;
    padding-bottom: 2em;
}

#bereich2{
    background: #333;
    color: #fff;
    padding-bottom: 2em;
}
.card{
    padding-top: 0px;
    color: #032575;
    text-align: center;
    font-size: 15px;
}

.hauptbereich ul{
    margin-bottom: 1em;
    background: #032575;
    color: aqua;
}

.kachel{
    padding: 1em;
}
.kachel img{
    display: block;
    width: 150px;
    margin: auto;
    
}
.kachel-inhalt{
    padding: 1.5em;
}

.bieten{
    text-align: left;
    padding: 2em;
}
.text_dual{

}
h3{
    background: #171717;
    color: #e2e8e9;
    font-family: ailerons;
    font-size: 1.5em;
    padding: 1em;
}

.unten{
    background: #171717;
    color: #e2e8e9;
    font-family: ailerons; 
}
.kleiner_container h3{
    background: #171717;
    color: #e2e8e9;
    font-family: ailerons;
    font-size: 1.5em;
    padding: 1em;
}
.kleiner_container p{
    color: #171717;
    background: #e2e8e9;
    text-align: justify;
}
.icon_cos img{
    height:75px;
    width: auto;
    }
.text_dual{
    text-align: center;
    font-size: 1em;
    padding: 1.5em;
    display: block;
    color: #171717;
    margin: auto;
    }
h2{
        padding-top: 1em;
        font-family: ailerons;
        font-size: 4em;
        color: #171717;
    }
span{
    vertical-align: middle;
}
.unten{
    text-align: center;
    margin-top: 4em;
}
.icon_cos p{
    padding-right: 1em;
    }
.absatz_3{
    padding-top: 8em;
    padding-bottom: 8em;
}
.bild_dual_2{
    max-width: 800px;
    display: block;
    margin: auto;
    padding: 1em;
}
.text_dual_2{
    text-align: center;
    font-size: 1em;
    padding: 1.5em;
    display: block;
    margin: auto;
}
.absatz_2{
    padding-top: 8em;
    padding-bottom: 8em;
} 

@media(min-width:900px){
    .grid{
        display: grid;
        grid-template-columns: 1fr repeat(2, minmax(auto, 1080px)) 1fr;
    }
    .haupt_grid{
        display: grid;
        grid-template-columns: 1fr repeat(2, minmax(auto, 1080px)) 1fr;
        grid-template-rows: auto;
        grid-row-gap: 5px;
    }
    .haupt_grid img{
        grid-column: 1/5;
    }
    .bild_li_ob{
        grid-column: 2/3;
        grid-row: 2/3;
        }
    .bild_re_ob{
        grid-column: 3/4;
        grid-row: 2/3;
        }
    .bild_li_un{
        grid-column: 2/3;
        grid-row: 3/4;
        }
    .bild_re_un{
        grid-column: 3/4;
        grid-row: 3/4;
        }
    .text_ueber_bilder{
        grid-column: 2/4;
        grid-row: 2/4;
        padding-top: 1px;
        color: unset;
        text-align: center;
        font-family: Ailerons;
        font-size: 70px;
        text-shadow: 0 0 2px #333;
    }

    .text_ueber_bilder img:hover{
        content: url('./images/Hangar16_Head_2.png');
    }
    .rec_row{
        width: 120px;
        text-shadow: 0 0 2px #032575;
    }
 .recruiting {
        grid-column: 2/4;
        grid-row: 8/9;
  }
    .kacheln {
     display: grid;
        grid-template-columns: repeat(4,1fr);
        padding-top: 3em;
        padding-bottom: 4em;
    }

    .Beschreibung{
        grid-column: 2/4;
        justify-self: center;
        padding-top: 10em;
    }
    .bereich3{
        grid-column: 2/4;
        grid-row: 8/9;
    }

    .focus{
        grid-column: 2/4;
        grid-row: 7/8;
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
    .focus h3{
        grid-column: 1/3;
    }
    .absatz_2{
        grid-column: 2/4;
        grid-row: 4/5;
        display: grid;
        grid-template-columns: 1fr 1fr;
    } 
    h2{
        grid-column: 1/3;
    }
    .bild_dual{
        grid-column: 1/1;
        max-width: 800px;
        display: block;
        margin: auto;
        padding: 1em;
    }
    .text_dual{
        grid-column: 2/3;
    }
    .absatz_3{
        grid-column: 2/4;
        grid-row: 5/6;
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
    .bild_dual_2{
        grid-column: 2/3;
    }
    .text_dual_2{
        grid-column: 1/2;
    }
    .grid_be{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-column-gap: 2em;
    }
    .grid_kc{
        display: grid;
        grid-template-rows: 80px;
    }
    .grid_tb{
        display: grid;
        grid-template-rows: 80px;
    }
    .kleiner_container h3{
        grid-column: 2/3;
        grid-row: 1/2;
    }
    .kleiner_container p{
        grid-column: 2/3;
        grid-row: 3/5;
   }
    .grid_ic{
    display: grid;
    grid-template-columns: 100px 1fr;
    }
    .icon_cos img{
    grid-column: 1/2;
    }
    .unten{
        grid-column: 2/4;
        grid-row: 9/10;
    }
}